.elementor-30 .elementor-element.elementor-element-7527857>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-30 .elementor-element.elementor-element-7527857:not(.elementor-motion-effects-element-type-background),
.elementor-30 .elementor-element.elementor-element-7527857>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000;
	background-image: linear-gradient(90deg, #000 0%, #000 100%);
}

.elementor-30 .elementor-element.elementor-element-7527857>.elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-30 .elementor-element.elementor-element-7527857 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
	z-index: 9999;
}

.elementor-30 .elementor-element.elementor-element-8a75ec7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px;
}

.elementor-30 .elementor-element.elementor-element-8a75ec7>.elementor-element-populated {
	padding: 0px 0px 0px 25px;
}

.elementor-30 .elementor-element.elementor-element-26115fa img {
	width: 100%;
	height: 90px;
	object-fit: contain;
}

.elementor-30 .elementor-element.elementor-element-527a9b3>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .hfe-nav-menu__toggle {
	margin: 0 auto;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item {
	padding-left: 15px;
	padding-right: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-sub-menu-item {
	padding-left: calc(15px + 20px);
	padding-right: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 40px);
	padding-right: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 60px);
	padding-right: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 80px);
	padding-right: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd a.hfe-sub-menu-item {
	font-family: "Helvetica", Sans-serif;
	font-size: 17px;
	font-weight: 700;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu a.hfe-sub-menu-item {
	color: var(--e-global-color-1e1892c);
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu a.hfe-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item.current-menu-item a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item.highlighted,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .menu-item a.hfe-menu-item:focus {
	color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .elementor-menu-toggle,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: var(--e-global-color-1e1892c);
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu a.hfe-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd .elementor-menu-toggle:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
	color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu li a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	font-family: "Helvetica", Sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd ul.sub-menu {
	width: 220px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd .sub-menu li.menu-item:not(:last-child),
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-30 .elementor-element.elementor-element-ff5e4cd nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px;
}

.elementor-30 .elementor-element.elementor-element-ff5e4cd>.elementor-widget-container {
	padding: 25px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-78f6337>.elementor-element-populated {
	padding: 10px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-02e763c .elementor-button {
	font-family: "Helvetica", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
	border-style: none;
	border-radius: 7px 7px 7px 7px;
}

.elementor-30 .elementor-element.elementor-element-02e763c>.elementor-widget-container {
	padding: 25px 10px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-02e763c {
	width: auto;
	max-width: auto;
}

.elementor-30 .elementor-element.elementor-element-ae81400 .elementor-button {
	font-family: "Helvetica", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
	border-style: none;
	border-radius: 7px 7px 7px 7px;
}

.elementor-30 .elementor-element.elementor-element-ae81400>.elementor-widget-container {
	padding: 25px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-ae81400 {
	width: auto;
	max-width: auto;
}

@media(min-width:768px) {
	.elementor-30 .elementor-element.elementor-element-8a75ec7 {
		width: 12.863%;
	}

	.elementor-30 .elementor-element.elementor-element-527a9b3 {
		width: 65.361%;
	}

	.elementor-30 .elementor-element.elementor-element-78f6337 {
		width: 21.44%;
	}
}