.elementor-2917 .elementor-element.elementor-element-ffe3f06:not(.elementor-motion-effects-element-type-background), .elementor-2917 .elementor-element.elementor-element-ffe3f06 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3EEF5;}.elementor-2917 .elementor-element.elementor-element-ffe3f06{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 0px 75px 0px;}.elementor-2917 .elementor-element.elementor-element-ffe3f06 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2917 .elementor-element.elementor-element-5d968fc{text-align:center;}.elementor-2917 .elementor-element.elementor-element-5d968fc .elementor-heading-title{color:#000000;font-family:"Helvetica", Sans-serif;font-size:40px;font-weight:700;}.elementor-2917 .elementor-element.elementor-element-5d968fc > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-2917 .elementor-element.elementor-element-2efd286{color:#000000;font-family:"Sailec", Sans-serif;font-size:18px;font-weight:600;}
/* Start Custom Fonts CSS */
@font-face {
	font-family: 'Sailec';
	font-style: normal;
	font-weight: normal;
	src: url('https://wiseadvizor.com/wp-content/uploads/2023/06/Sailec-Bold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Sailec';
	font-style: normal;
	font-weight: normal;
	src: url('https://wiseadvizor.com/wp-content/uploads/2023/06/Sailec-Light.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Sailec';
	font-style: normal;
	font-weight: normal;
	src: url('https://wiseadvizor.com/wp-content/uploads/2023/06/Sailec-Medium.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Sailec';
	font-style: normal;
	font-weight: normal;
	src: url('https://wiseadvizor.com/wp-content/uploads/2023/06/Sailec-Regular-Italic.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Sailec';
	font-style: normal;
	font-weight: normal;
	src: url('https://wiseadvizor.com/wp-content/uploads/2023/06/Sailec-Thin.ttf') format('truetype');
	font-display: optional;
}

/* End Custom Fonts CSS */