<style>
.elementor-3007 .elementor-element.elementor-element-78270f3>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-3007 .elementor-element.elementor-element-78270f3 .elementor-button {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
    border-style: none;
    border-radius: 7px 7px 7px 7px;
    margin-top: 10px;
}

.progress {
    --mdb-progress-height: 15px;
    --mdb-progress-font-size: 0.60rem;
    --mdb-progress-bg: #eee;
    --mdb-progress-border-radius: 0.25rem;
    --mdb-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --mdb-progress-bar-color: #fff;
    --mdb-progress-bar-bg: #001E64;
    --mdb-progress-bar-transition: width 0.6s ease;
    height: var(--mdb-progress-height);
    font-size: var(--mdb-progress-font-size);
    background-color: var(--mdb-progress-bg);
    border-radius: var(--mdb-progress-border-radius);
    box-shadow: var(--mdb-progress-box-shadow);
}

.elementor-2372 .elementor-element.elementor-element-7c40f05 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: var(--e-global-color-1e1892c);
}

.elementor-progress-wrapper {
    position: relative;
    background-color: #eee;
    color: #fff;
    height: 100%;
    border-radius: 2px;
}


i.fas.fa-chevron-down {
    margin-top: -15px !important;
    padding-left: 10px !important;
    font-size: 9px !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}

.elementor-4878 .elementor-element.elementor-element-f428972 .elementor-heading-title {
    color: #002D5B;
    line-height: 1.3em;
}

.elementor-4878 .elementor-element.elementor-element-b0cfee1>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

h6,
.entry-content h6 {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: 'Montserrat', sans-serif;
    color: #150E1F;
}

h3,
.entry-content h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.elementor-widget-heading .elementor-heading-title {
    color: #150E1F;
    /* text-transform: capitalize !important; */
}

.elementor-4878 .elementor-element.elementor-element-b0cfee1 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    text-transform: capitalize !important;
}

.elementor-4878 .elementor-element.elementor-element-0e640ef {
    text-align: left;
}

.elementor-button-wrapper .elementor-button {
    border-color: #001e64;
    background-color: #001e64;
}

.elementor-button-wrapper .elementor-button:hover,
.elementor-button-wrapper .elementor-button:focus {
    color: #ffffff;
    background-color: #001e64;
    border-color: #001e64;
}

body,
h1,
.entry-title a,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6 {
    color: #000;
}

.elementor-widget-divider .elementor-divider-separator {
    display: flex;
    margin: 0;
    direction: ltr
}

.elementor-widget-divider--view-line_icon .elementor-divider-separator,
.elementor-widget-divider--view-line_text .elementor-divider-separator {
    align-items: center
}

.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,
.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,
.elementor-widget-divider--view-line_text .elementor-divider-separator:after,
.elementor-widget-divider--view-line_text .elementor-divider-separator:before {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
}

.elementor-element-p7f37ge {
    background-color: #F3F1F6;
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: #150E1F;
}

.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #001e64 !important;
}

.elementor-view-stacked .elementor-icon {
    padding: .5em;
    background-color: #69727d;
    color: #fff;
    fill: #fff;
}

.elementor-widget-container p {
    color: #150E1F !important;
}

.elementor-4878 .elementor-element.elementor-element-138a60d p {
    font-weight: normal;
    color: #150E1F !important;
}

.elementor-4878 .elementor-element.elementor-element-a92b341 {
    margin-top: -25px;
}

.elementor-4878 .elementor-element.elementor-element-4971126 .elementor-heading-title {
    text-transform: capitalize !important;
}

.elementor-4878 .elementor-element.elementor-element-0b592cc .elementor-heading-title {
    text-transform: capitalize !important;
}

.elementor-4878 .elementor-element.elementor-element-9cb279c .elementor-heading-title {
    text-transform: capitalize !important;
}

.lang {
    margin-top: 10px !important;
    padding-left: 0px;
}

.time {
    margin-top: 10px !important;
}

.availability {
    margin-top: 10px !important;
}

.elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
    margin: -80px 0px 0px 0px !important;
}

.elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container {
    margin: -90px 0px -5px 0px !important;
}

.elementor-element .elementor-element-dbbf342>.elementor-widget-container {
    margin-bottom: -25px !important;
    margin-left: 20px;
}

.elementor-element .elementor-element-873ef0b>.elementor-widget-container {
    margin-top: -30px !important;
    margin-bottom: 35px !important;
}

p {
    font-size: 17px !important;
}

li {
    font-size: 15px;
    color: #150E1F !important;
}

.elementor-element .elementor-element-090b83a {
    background-color: #F3F1F6 !important;
}

.elementor-4878 .elementor-element.elementor-element-090b83a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color: #F3F1F6 !important;
    margin-bottom: -32px !important;
}

.elementor-4878 .elementor-element.elementor-element-4yln1aq:not(.elementor-motion-effects-element-type-background),
.elementor-4878 .elementor-element.elementor-element-4yln1aq>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F3F1F6 !important;
    background-image: url("https://ivygroupco.com/wp-content/uploads/2023/11/shape1-horiz.png");
    background-position: center right;
    background-repeat: no-repeat;
}

.elementor-4878 .elementor-element.elementor-element-94a07f3 {
    margin-top: -10px !important;
}

.elementor-4878 .elementor-element.elementor-element-cdd8d8d {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-astglobalcolor0);
    --divider-border-width: 2px;
    /* margin-top: -200px; */
}

.elementor-4878 .elementor-element.elementor-element-422d6d7 {
    --icon-box-icon-margin: 15px;
    margin-top: -40px !important;
}

.elementor-4878 .elementor-element.elementor-element-79woq2o:not(.elementor-motion-effects-element-type-background),
.elementor-4878 .elementor-element.elementor-element-79woq2o>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F3F1F6;
    background-image: url("https://ivygroupco.com/wp-content/uploads/2023/11/shape1.png");
    background-repeat: no-repeat;
    margin-bottom: -80px;
}

.elementor-widget-icon-box .elementor-icon-box-description {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 15px !important;
}

.elementor-element .elementor-element-a7cb679 h3 {
    color: #150E1F;
    text-transform: capitalize !important;
    margin-top: -60px;
}

.elementor-4878 .elementor-element.elementor-element-3f8ebce>.elementor-widget-container {
    margin: 10px 0px 0px 30px;
}

.elementor-4878 .elementor-element.elementor-element-3af0bab>.elementor-widget-container {
    margin: -5px 0px 30px 30px;
    font-weight: normal !important;
}

.elementor-element .elementor-element-3af0bab .elementor-widget-container p {
    color: #150E1F !important;
    font-weight: normal;
    font-size: 15px !important;
    text-transform: capitalize !important;
}

.elementor-4878 .elementor-element.elementor-element-7c40f05>.elementor-widget-container {
    padding: 0px 25px 15px 25px;
}

.elementor-4878 .elementor-element.elementor-element-5c6f3ea>.elementor-widget-container {
    margin: -30px 15px -10px 30px;
    font-size: 15px !important;
    color: #150E1F;
}

.elementor-4878 .elementor-element.elementor-element-37316f5>.elementor-widget-container {
    margin: -30px 15px -10px 30px;
    color: #150E1F !important;
    font-size: 15px !important;
}

.elementor-4878 .elementor-element.elementor-element-c95ee9d>.elementor-widget-container {
    margin: -5px 0px 30px 30px;
}

.elementor-4878 .elementor-element.elementor-element-c95ee9d .elementor-heading-title {
    color: var(--e-global-color-astglobalcolor0);
    line-height: 0.1em;
    font-weight: normal;
    font-size: 15px !important;
}

.elementor-4878 .elementor-element.elementor-element-7bebc4a>.elementor-widget-container {
    margin: 10px 0px 0px 30px;
}

.elementor-4878 .elementor-element.elementor-element-430d076>.elementor-widget-container {
    padding: 0px 25px 15px 25px;
}

.elementor-4878 .elementor-element.elementor-element-9xouvrd:not(.elementor-motion-effects-element-type-background),
.elementor-4878 .elementor-element.elementor-element-9xouvrd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-astglobalcolor4);
    background-image: url("https://ivygroupco.com/wp-content/uploads/2023/11/shape1.png");
    background-repeat: no-repeat;
    margin-top: -35px;
}

.elementor-4878 .elementor-element.elementor-element-6f5a20e>.elementor-container {
    max-width: 1350px;
    margin-top: -50px;
    margin-bottom: -40px;
}

.elementor-4878 .elementor-element.elementor-element-1b99fe0 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-astglobalcolor0);
    --divider-border-width: 2px;
    margin-top: -100px;
}

.elementor-element .elementor-element-4c9ce4e .elementor-widget-container ul {
    margin-top: -5px;
}

li {
    font-size: 15px !important;
}

.elementor-4878 .elementor-element.elementor-element-e1a5c8d>.elementor-widget-container p {
    font-size: 16px !important;
}

.elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container p {
    font-size: 15px !important;
    text-align: justify;
}

.elementor-4878 .elementor-element.elementor-element-12b61d0 {
    margin-top: -10px;
}

.elementor-4878 .elementor-element.elementor-element-202f85c {
    .elementor-4878 .elementor-element.elementor-element-202f85c {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
    margin-top: 65px;
    margin-bottom: 20px;
    text-align: center;
}

.elementor-4878 .elementor-element.elementor-element-3a7f8c6>.elementor-element-populated {
    margin: -106px 0px 10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: #ffff;
}

.elementor-4878 .elementor-element.elementor-element-c8cd16f .elementor-heading-title {
    font-size: 20px;
    color: #002D5B;
    line-height: 1.3em;
}
</style>
<style>

.main-data-wrp a:hover {
    color: #3153C6;
}

.main-data-wrp ul li,
.main-data-wrp ol li {
    margin: 0 0 16px 0;
}

.main-data-wrp {
    margin-top: -25px !important;
}

.testimonial-block {
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.testimonial-block h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0 0 80px;
}

.testimonial-block h2 img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
}

.testimonial-block ul {
    display: block;
    margin: 0;
    padding: 0;
}

.testimonial-block ul li {
    list-style: none;
    margin: 0 0 43px;
    padding: 0;
}

.testimonial-block ul li:last-child {
    margin: 0;
}

.testimonial-box .user-box {
    display: flex;
    align-items: flex-end;
    margin: 0 0 0px;
}

.testimonial-box .user-box img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    margin-top: -15px;
}

.testimonial-box .user-box .discerption {
    max-width: 580px;
    padding: 12px;
    background: #18489B;
    border-radius: 18px;
    position: relative;
}

.testimonial-box .user-box .discerption:before {
    position: absolute;
    content: "";
    left: -3px;
    bottom: -2px;
    background-image: url("../images/msg-arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 11px;
    height: 20px;
}

.testimonial-box .user-box .discerption p {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.testimonial-box h5 {
    font-family: 'ArticulatCFDemiBold';
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.testimonial-box h6 {
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0 0 2px;
}

.testimonial-box .rating {
    display: flex;
    align-items: center;
    color: #f0ad4e;
    font-size: 15px;
}

.testimonial-box img.quote-icon {
    max-width: 100%;
    margin: 0 0 16px;
}

.testimonial-box .user-box {
    display: flex;
    align-items: center;
}

.testimonial-box .user-box img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    margin-right: 16px;
}

.testimonial-box .user-box h4 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #12141d;
    margin: 0 0 2px;
}

.testimonial-box .user-box span {
    font-size: 12px;
    color: #f0ad4e !important;
    display: flex;
    align-items: center;
}

.feedback {
    overflow: hidden;
}

.testimonial-box p {
    font-size: 14px !important;
}

.testimonial-box {
    margin-bottom: 10px !important;
}

.testimonial-box .user-box .client_name {
    margin-top: -10px;
}

.fee hr {
    background-color: #d3d3d3 !important;
    size: 1px !important;
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: #150E1F;
    text-transform: capitalize;
}

.elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon {
    font-size: 25px !important;
}

.elementor-element .elementor-element-4c9ce4e .elementor-widget-container ul li a {
    color: #007bff !important;
}

.feedback {
    overflow: hidden;
}

i.fas.fa-bell.fa-2xl {
    font-size: 32px !important;
}

.elementor-4878 .elementor-element.elementor-element-f641fa2>.elementor-widget-container {
    margin: 0px 0px 0px 0px !important;
}

.elementor-32 .elementor-element.elementor-element-b84e421 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-7b6d864 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-aaf88ad .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-b23aa07 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-269f902 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-32f5614 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-159e6db .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

.elementor-32 .elementor-element.elementor-element-5db6379 .elementor-heading-title {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffff !important;
}

body .elementor-32 .elementor-element.elementor-element-dd4d324 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 10px !important;
}

.elementor-widget-rating .e-rating-wrapper {
    padding-top: 10px;
}

.elementor-4878 .elementor-element.elementor-element-202f85c {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.elementor-icon i,
.elementor-icon svg {
    margin-top: 8px;
    margin-left: 7px;
    position: relative;
    display: block;
}

@media screen and (max-width: 767px) {

    li>.elementor-button .elementor-button-link .elementor-size-xs {
        display: inline-block;
        line-height: 1;
        background-color: #001E64;
        margin: 10px;
        font-size: 15px;
        padding: 12px 24px;
        border-radius: 8px !important;
        color: #fff;
        fill: #fff;
        text-align: center;
        transition: all .3s;
    }

    .elementor-32 .elementor-element.elementor-element-540d2d1>.elementor-widget-container {
        padding: 0px 20px 10px 100px;
    }

    .elementor-4878 .elementor-element.elementor-element-xjpohp1 {
        margin-top: -50px;
        margin-bottom: -50px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .elementor-4878 .elementor-element.elementor-element-f428972 {
        text-align: center;
    }

    .elementor-4878 .elementor-element.elementor-element-f428972 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-4878 .elementor-element.elementor-element-c8cd16f {
        text-align: center;
    }

    .elementor-4878 .elementor-element.elementor-element-b0cfee1>.elementor-widget-container {
        margin: -5px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-b0cfee1 .elementor-heading-title {
        font-size: 14px;
        text-align: center;
    }

    .elementor-4878 .elementor-element.elementor-element-24ce783 {
        --e-rating-icon-font-size: 10px;
    }

    .elementor-4878 .elementor-element.elementor-element-24ce783>.elementor-widget-container {
        margin: -15px 0px 0px 0px !important;
        margin-bottom: 30px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-712b493>.elementor-widget-container {
        margin: -20px 0px 25px 0px;
        padding: 0px 20px 0px 20px;
    }

    .elementor-4878 .elementor-element.elementor-element-712b493 .elementor-heading-title {
        font-size: 12px !important;
        margin-top: -42px !important;
        font-weight: normal;
    }

    .elementor-4878 .elementor-element.elementor-element-0e640ef {
        text-align: justify;
        font-size: 13px;
    }

    .elementor-4878 .elementor-element.elementor-element-0e640ef>.elementor-widget-container {
        margin: -30px 0px 0px 0px;
        padding: 0px 40px 0px 45px;
    }

    .elementor-4878 .elementor-element.elementor-element-aae4654 {
        margin-top: -30px;
        margin-bottom: 0px;
        padding-right: 20px;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .elementor-4878 .elementor-element.elementor-element-dc63cc3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-576c4f2 {
        margin-top: 70px;
    }

    .elementor-4878 .elementor-element.elementor-element-dc63cc3 {
        text-align: center;
        margin-top: -5px;
    }

    .elementor-4878 .elementor-element.elementor-element-7d4fe70>.elementor-widget-container {
        margin: -10px 0px 45px 0px;
        padding: 0px 0px 0px 0px;
    }

    .name {
        font-size: 23px;
        margin-top: 50px !important;
        color: #002D5B !important;
        font-weight: BOLD !important;
    }

    .about {
        margin-top: 25px;
        padding-bottom: 20px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-4971126 .elementor-heading-title {
        font-size: 12px;
        text-transform: capitalize !important;
    }

    .elementor-4878 .elementor-element.elementor-element-0b592cc .elementor-heading-title {
        text-transform: capitalize !important;
        font-size: 12px;
    }

    .elementor-4878 .elementor-element.elementor-element-9cb279c .elementor-heading-title {
        font-size: 12px;
        text-transform: capitalize !important;
    }

    .lang {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .time {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .availability {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .bio {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .review {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .elementor-widget-rating .e-rating-wrapper {
        padding-top: 5px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container {
        margin: -75px 0px -5px 0px !important;
        padding-left: 30px;
        padding-right: 25px;
    }

    .elementor-element .elementor-element-dbbf342>.elementor-widget-container {
        margin-bottom: -25px !important;
        margin-left: 30px;
    }

    .elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container p {
        font-size: 12px !important;
        text-align: justify;
    }

    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon-box-wrapper {
        text-align: justify;
    }

    .elementor-widget-icon-box.elementor-mobile-position-left .elementor-icon-box-wrapper {
        flex-direction: row;
    }

    .elementor-widget-icon-box.elementor-mobile-position-left .elementor-icon-box-wrapper,
    .elementor-widget-icon-box.elementor-mobile-position-right .elementor-icon-box-wrapper {
        display: flex;
    }

    .elementor-widget-icon-box.elementor-position-left .elementor-icon-box-icon,
    .elementor-widget-icon-box.elementor-position-right .elementor-icon-box-icon {
        display: block;
        flex: unset;
    }

    .elementor-widget-icon-box.elementor-mobile-position-left .elementor-icon-box-icon {
        margin-right: var(--icon-box-icon-margin, 15px);
        margin-left: 0;
        margin-bottom: unset;
    }

    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon {
        font-size: 15px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon-box-title,
    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon-box-title a {
        font-size: 12px;
    }

    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon-box-title {
        margin-bottom: 10px;
        margin-top: -20px;
    }

    .elementor-4878 .elementor-element.elementor-element-422d6d7 .elementor-icon-box-description {
        font-size: 11px !important;
    }

    .elementor-widget-icon-box.elementor-mobile-position-top .elementor-icon-box-icon {
        margin-bottom: var(--icon-box-icon-margin, 15px);
        margin-right: auto;
        margin-left: auto;
    }

    .elementor-widget-icon-box.elementor-mobile-position-top .elementor-icon-box-wrapper {
        display: block;
        flex-direction: unset;
    }

    li {
        font-size: 12px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-9905fba {
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: -10px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
        margin: -65px 0px 15px 0px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-9905fba>.elementor-container {
        max-width: 1000px;
    }

    .elementor-4878 .elementor-element.elementor-element-8a50591>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-651f958>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-ed09546>.elementor-container {
        max-width: 1000px;
    }

    .elementor-4878 .elementor-element.elementor-element-5c6f3ea>.elementor-widget-container {
        font-size: 12px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-37316f5>.elementor-widget-container {
        font-size: 12px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-c95ee9d .elementor-heading-title {
        font-size: 12px !important;
    }

    .elementor-element .elementor-element-3af0bab .elementor-widget-container p {
        font-size: 12px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-3f8ebce .elementor-heading-title {
        font-size: 14px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-7bebc4a .elementor-heading-title {
        font-size: 14px !important;
    }

    .elementor-widget-container p {
        font-size: 12px !important;
    }

    .elementor-element .elementor-element-7bebc4a .elementor-widget .elementor-widget-heading {
        margin-top: -30px;
    }

    .testimonial-box p {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .testimonial-box .user-box .client_name {
        margin-top: -10px;
    }

    .testimonial-box .user-box img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin-right: 12px;
    }

    .elementor-4878 .elementor-element.elementor-element-d2e8414 {
        margin-top: -40px;
        margin-bottom: -30px;
        text-align: center;
    }

    .elementor-4878 .elementor-element.elementor-element-9xouvrd:not(.elementor-motion-effects-element-type-background),
    .elementor-4878 .elementor-element.elementor-element-9xouvrd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-color: var(--e-global-color-astglobalcolor4);
        background-image: url("https://ivygroupco.com/wp-content/uploads/2023/11/shape1.png");
        background-repeat: no-repeat;
        margin-top: -35px;
        margin-bottom: -30px;
    }

    .elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
        background-color: #ffff;
    }

    .elementor-4878 .elementor-element.elementor-element-ed09546 {
        margin-top: 0px;
        margin-bottom: -20px;
    }

    .elementor-4878 .elementor-element.elementor-element-3a7f8c6>.elementor-element-populated {
        margin: -106px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-202f85c {
        margin-top: 55px;
        margin-bottom: 20px;
        text-align: center;
    }

    .elementor-4878 .elementor-element.elementor-element-9a9bf6d {
        --icon-size: 8px;
    }

    .elementor-4878 .elementor-element.elementor-element-9a9bf6d>.elementor-widget-container {
        margin: -20px 0px 20px 0px;
    }

    .elementor-widget-social-icons .elementor-grid {
        grid-column-gap: var(--grid-column-gap, 5px);
        grid-row-gap: var(--grid-row-gap, 5px);
        grid-template-columns: var(--grid-template-columns);
        justify-content: var(--justify-content, center);
        justify-items: var(--justify-content, center);
    }

    .elementor-grid-0 .elementor-grid .elementor-grid-item {
        display: inline-block;
        margin-bottom: var(--grid-row-gap);
        word-break: break-word;
    }

    .elementor-social-icon i {
        color: var(--e-social-icon-icon-color);
    }

    .elementor-4878 .elementor-element.elementor-element-9a9bf6d {
        margin-top: -25px;
        --grid-template-columns: repeat(0, auto);
        --grid-column-gap: 5px;
        --grid-row-gap: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-9a9bf6d .elementor-widget-container {
        text-align: center;
    }

    .elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container,
    .elementor-widget-social-icons.elementor-grid-mobile-0 .elementor-widget-container,
    .elementor-widget-social-icons.elementor-grid-tablet-0 .elementor-widget-container {
        line-height: 1;
        font-size: 0;
    }

    .elementor-icon i,
    .elementor-icon svg {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 1em;
        height: 1em;
        position: relative;
        display: block !important;
    }

    .elementor-3007 .elementor-element.elementor-element-b97627d {
        width: 30%;
    }

    .elementor-3007 .elementor-element.elementor-element-a2b9669 {
        width: 50%;
    }

    .elementor-3007 .elementor-element.elementor-element-094a417 {
        width: 20%;
    }

    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 .sub-menu a.hfe-sub-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 .elementor-menu-toggle:hover,
    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 nav.hfe-dropdown li a.hfe-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-b0aaaa9 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
        color: #001E64;
    }

    .elementor-3007 .elementor-element.elementor-element-094a417>.elementor-element-populated {
        padding: 0px 0px 0px 35px;
        margin-top: 45px;
    }

    .elementor-3007 .elementor-element.elementor-element-f871cda>.elementor-element-populated {
        padding: 0px 0px 0px 10px;
        margin-top: -20px;
    }

    .elementor-3007 .elementor-element.elementor-element-ee84ee1 .sub-menu,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown .menu-item a.hfe-menu-item,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
        background-color: #fff;
        color: #001E64;
    }

    .elementor-button.elementor-size-xs {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 7px;
        margin: 10px;
    }

    .elementor-button {
        display: inline-block;
        line-height: 1;
        background-color: #001E64;
        fill: #fff;
        text-align: center;
        transition: all .3s;
    }

    .elementor-3007 .elementor-element.elementor-element-f871cda {
        width: 30%;
    }

    .elementor-3007 .elementor-element.elementor-element-094a417 {
        width: 50%;
    }

    .elementor-3007 .elementor-element.elementor-element-a2b9669 {
        width: 20%;
    }

    .elementor-3007 .elementor-element.elementor-element-a2b9669>.elementor-element-populated {
        padding: 20px 0px 0px 30px;
        margin-top: 45px;
    }

    i.fas.fa-bell.fa-2xl {
        font-size: 27px !important;
        color: #000;
        padding-left: 10px;
    }

    .rounded-circle {
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        max-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    #menu-item-5136 {
        font-size: 8px;
    }

    .elementor-3007 .elementor-element.elementor-element-ee84ee1 .sub-menu a.hfe-sub-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 .elementor-menu-toggle:hover,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown li a.hfe-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
    .elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
        color: #001E64;
    }

    .elementor-3007 .elementor-element.elementor-element-556f326 img {
        width: 92%;
        height: 80px;
        object-fit: contain;
    }

    .elementor-3007 .elementor-element.elementor-element-556f326>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }

    .elementor-3007 .elementor-element.elementor-element-ee84ee1>.elementor-widget-container {
        margin: -40px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 320px) {}

@media (max-width: 280px) {
    .elementor-3007 .elementor-element.elementor-element-a2b9669>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
        margin-top: 45px;
    }
}

@media (max-width: 360px) {}

@media (max-width: 375px) {}

@media (min-width: 540px) {}

@media(max-width<=1024px) {

    .elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
        margin: -40px 0px 45px 0px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container {
        margin: -90px 40px -5px 40px !important;
    }

    .elementor-element .elementor-element-dbbf342>.elementor-widget-container {
        margin-bottom: -25px !important;
        margin-left: 40px;
    }

    .elementor-4878 .elementor-element.elementor-element-xjpohp1 {
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 25px 0px 0px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .elementor-4878 .elementor-element.elementor-element-b1f32fb>.elementor-element-populated {
        padding: 0px 0px 0px 35px;
    }

    .elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
        margin: -50px 0px 50px 0px !important;
    }

    .elementor-element .elementor-element-dbbf342>.elementor-widget-container {
        margin-bottom: -25px !important;
        margin-left: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-p7f37ge {
        padding: 60px 30px 60px 30px;
    }

    .elementor-widget-container p {
        padding-right: 0px;
        color: #150E1F !important;
    }

    /* header*/

    .elementor-3007 .elementor-element.elementor-element-4bc8cfa>.elementor-widget-container {
        padding: 25px 10px 0px 0px;
        margin-left: -60px;
    }

    .wp-image-624 {
        width: 100%;
        height: 15.02%;
        max-width: 150px !important;
    }

    dl,
    ol,
    ul {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 20px;
    }

    .menu-item .menu-item-type-post_type .menu-item-object-page .menu-item-has-children .parent .hfe-has-submenu .hfe-creative-menu .parent-has-child {
        background-color: #fff !important;
    }

    .elementor-3007 .elementor-element.elementor-element-78270f3 .elementor-button {
        font-family: "Helvetica", Sans-serif;
        font-size: 10px;
        margin-right: 15px;
        font-weight: 400;
        background-color: transparent;
        background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
        border-style: none;
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-3007 .elementor-element.elementor-element-4bc8cfa .elementor-button {
        font-family: "Helvetica", Sans-serif;
        font-size: 10px;
        font-weight: 400;
        background-color: transparent;
        background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
        border-style: none;
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-3007 .elementor-element.elementor-element-cf19fcc:not(.elementor-motion-effects-element-type-background),
    .elementor-3007 .elementor-element.elementor-element-cf19fcc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-color: #FFFFFF;
    }
}

ed {
    padding: 0px 0px 0px 35px;
    margin-top: 45px;
}

.elementor-3007 .elementor-element.elementor-element-f871cda>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
    margin-top: -20px;
}

.elementor-3007 .elementor-element.elementor-element-ee84ee1 .sub-menu,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
    color: #001E64;
}

.elementor-button.elementor-size-xs {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 10px;
}

.elementor-button {
    display: inline-block;
    line-height: 1;
    background-color: #001E64;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}

.elementor-3007 .elementor-element.elementor-element-f871cda {
    width: 30%;
}

.elementor-3007 .elementor-element.elementor-element-094a417 {
    width: 50%;
}

.elementor-3007 .elementor-element.elementor-element-a2b9669 {
    width: 20%;
}

.elementor-3007 .elementor-element.elementor-element-a2b9669>.elementor-element-populated {
    padding: 20px 0px 0px 30px;
    margin-top: 45px;
}

i.fas.fa-bell.fa-2xl {
    font-size: 32px !important;
    color: #000;
    padding-left: 0px;
}

.rounded-circle {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#menu-item-5136 {
    font-size: 8px;
}

.elementor-3007 .elementor-element.elementor-element-ee84ee1 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 .elementor-menu-toggle:hover,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-3007 .elementor-element.elementor-element-ee84ee1 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
    color: #001E64;
}

.elementor-3007 .elementor-element.elementor-element-556f326 img {
    width: 92%;
    height: 80px;
    object-fit: contain;
}

.elementor-3007 .elementor-element.elementor-element-556f326>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-3007 .elementor-element.elementor-element-ee84ee1>.elementor-widget-container {
    margin: -40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media (max-width: 320px) {}

@media (max-width: 280px) {
    .elementor-3007 .elementor-element.elementor-element-a2b9669>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
        margin-top: 45px;
    }
}

@media (max-width: 360px) {}

@media (max-width: 375px) {}

@media (min-width: 540px) {}

@media(max-width<=1024px) {
    .elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
        margin: -40px 0px 45px 0px !important;
    }

    .elementor-4878 .elementor-element.elementor-element-6b6a93e>.elementor-widget-container {
        margin: -90px 40px -5px 40px !important;
    }

    .elementor-element .elementor-element-dbbf342>.elementor-widget-container {
        margin-bottom: -25px !important;
        margin-left: 40px;
    }

    .elementor-4878 .elementor-element.elementor-element-xjpohp1 {
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 25px 0px 0px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .elementor-4878 .elementor-element.elementor-element-b1f32fb>.elementor-element-populated {
        padding: 0px 0px 0px 35px;
    }

    .elementor-4878 .elementor-element.elementor-element-dcbce22>.elementor-widget-container {
        margin: -50px 0px 50px 0px !important;
    }

    .elementor-element .elementor-element-dbbf342>.elementor-widget-container {
        margin-bottom: -25px !important;
        margin-left: 0px;
    }

    .elementor-4878 .elementor-element.elementor-element-p7f37ge {
        padding: 60px 30px 60px 30px;
    }

    .elementor-widget-container p {
        padding-right: 0px;
        color: #150E1F !important;
    }

    /* header*/

    .elementor-3007 .elementor-element.elementor-element-4bc8cfa>.elementor-widget-container {
        padding: 25px 10px 0px 0px;
        margin-left: -60px;
    }

    .wp-image-624 {
        width: 100%;
        height: 15.02%;
        max-width: 150px !important;
    }

    dl,
    ol,
    ul {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 20px;
    }

    .menu-item .menu-item-type-post_type .menu-item-object-page .menu-item-has-children .parent .hfe-has-submenu .hfe-creative-menu .parent-has-child {
        background-color: #fff !important;
    }

    .elementor-3007 .elementor-element.elementor-element-78270f3 .elementor-button {
        font-family: "Helvetica", Sans-serif;
        font-size: 10px;
        margin-right: 15px;
        font-weight: 400;
        background-color: transparent;
        background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
        border-style: none;
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-3007 .elementor-element.elementor-element-4bc8cfa .elementor-button {
        font-family: "Helvetica", Sans-serif;
        font-size: 10px;
        font-weight: 400;
        background-color: transparent;
        background-image: linear-gradient(90deg, var(--e-global-color-1e1892c) 0%, var(--e-global-color-1e1892c) 100%);
        border-style: none;
        border-radius: 7px 7px 7px 7px;
    }

    .elementor-3007 .elementor-element.elementor-element-cf19fcc:not(.elementor-motion-effects-element-type-background),
    .elementor-3007 .elementor-element.elementor-element-cf19fcc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-color: #FFFFFF;
    }
}
</style>